* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family:
    'Pixelify Sans',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Helvetica,
    Arial,
    sans-serif;
  color: #000000;
}

.knight {
  width: 30%;
  max-width: 200px;
  image-rendering: pixelated;
  position: absolute;
  z-index: 5;
  bottom: 16px;
  right: 16px;
  transform: scaleX(-1);
}

.app {
  display: flex;
  position: relative;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  gap: 16px;
  background-image: url('/assets/roads/FieldsTile_01.png');
  background-size: 64px 64px;
  background-repeat: repeat;
  animation: move-background 12s linear infinite;
}

@keyframes move-background {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 64px 64px;
  }
}

.content {
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 8px;
  z-index: 10;
}

.title {
  font-size: 3em;
  font-weight: bold;
  text-align: center;
  color: #000000;
  text-shadow:
    -1px -1px 0 #ddff00bf,
    1px -1px 0 #ddff00bf,
    -1px 1px 0 #ddff00bf,
    1px 1px 0 #ddff00bf;
}

.description {
  font-size: 1.5em;
  text-align: center;
  color: #ddff00bf;
  font-weight: bold;
  text-shadow:
    -1px -1px 0 #000000,
    1px -1px 0 #000000,
    -1px 1px 0 #000000,
    1px 1px 0 #000000;
}

.level-id {
  color: #40101b;
  font-weight: bold;
}

.code {
  background-color: #e5ebee;
  padding: 2px 4px;
  border-radius: 4px;
}

.start-button {
  background-color: #41d900;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  border: none;
  padding: 12px 48px;
  height: 28px;
  font-size: 1.1em;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.footer {
  position: absolute;
  bottom: 16px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 12px;
  font-size: 0.8em;
  color: #666666;
}

.docs-link {
  cursor: pointer;
}

.divider {
  color: rgba(0, 0, 0, 0.1);
}
